<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:right; margin-right: 20px; margin-top: 10px;">
  <span matBadge="{{arrMyExercises?.length || '0'}}" matBadgeOverlap="true">
    <i style="font-size: 2em; text-align:right" class="material-icons">
      shopping_cart
    </i>
  </span>
</div>

<div *ngFor="let exercise of arrExercises" style="text-align:center;">
  <mat-card class="example-card" style="margin-top: 10px;">
    <mat-card-header>
      <img mat-card-avatar src="{{exercise.image}}">
      <mat-card-title>{{exercise.title}}</mat-card-title>
      <mat-card-subtitle>{{exercise.time}} minutter ({{exercise.repetitions}} rep)</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>      
      <p style="text-align:left">{{exercise.description}}<br/><br/>
      {{exercise.author}}<br/><span *ngFor="let tag of exercise.tags"><a mat-button href="#">#{{tag}}</a>&nbsp;</span>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-fab color="primary" (click)="onAdd(exercise)">Tilføj</button>  
    </mat-card-actions>
  </mat-card>
</div>
